.container{
    width:960px;
    height: 800px;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    
    /* justify-content: space-around; */
    align-content: space-around;
}
.item{
    width:300px;
    /* height:300px; */
    border:2px solid blue;
    /* margin-bottom: 10px; */
    font-size: 28px;
    text-align: center;
}
.item1{
    background-color: rgb(209, 159, 205);
}
.item2{
   
    background-color: cornflowerblue;
}
.item3{
    background-color: rgb(221, 217, 160);
}
.item4{
    background-color: darksalmon;
}
.item5{
    background-color: dimgray;
}
item6{
    background-color: rgb(234, 253, 234);
}