body{
    background-color: antiquewhite;
}
header{
    width: 100%;
    background-image: url('https://i.picsum.photos/id/1003/1181/1772.jpg?hmac=oN9fHMXiqe9Zq2RM6XT-RVZkojgPnECWwyEF1RvvTZk');
    background-size: cover;
    padding: 50px 0;
    color: rgb(66, 128, 76);
    text-align: center;
    text-shadow: 0px 5px 5px rgba(251, 255, 0, 0.5);
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    justify-content: space-around;
    text-align: center;
}
.col{
    width: calc(100% / 3);
   border:5px solid rgb(246, 201, 159);
    background-color: rgb(253, 252, 206);
    padding: 10px 25px;
    align-self: center;
}

@media (max-width: 400px){
    header{
        display: flex;
        padding: 0 5px;
        flex-direction: column;
        justify-self: center;
        min-height: 100vh;
    }
    .col{
        width:100%;
    }
    .col h3{
        color:cadetblue
    }
}
@media (min-width:401px) and (max-width: 699px){
    .col{
        width: 50%
    }
    .col h3{
        color:crimson;
    }
}
@media (min-width:700px){
    .col{
        width: 33%;
    }
    .col h3{
        color:rgb(114, 88, 207);
    }
}
